h1 {
	text-align: center;
}

main
{
	box-sizing: border-box;
	width: 100%;
	padding: 15px 35px;
}

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 35px;
}

#form-login {
	width: 30%;
	padding: 15px 35px;
	background: white;
}


@media screen and (max-width: 980px) {
	#form-login {
		width: 70%;
	}
}


@media screen and (max-width: 768px) {
	#form-login {
		width: 100%;
	}

}

