body {
	background: rgb(239, 239, 239);
	margin: 0;
}

h1 {
	text-align: center;
}

hr
{
	height: 1px;
	color: black;
	background-color: black;
	border: none;
	margin-bottom: 35px;
}

main
{
	box-sizing: border-box;
	width: calc(100% - 250px);
	padding: 40px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}


main.active {
	width: 100%;
}


/* Connexion */
#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 35px;
}

#form-login {
	width: 30%;
	padding: 15px 35px;
	background: white;
}


/* Menu de navigation */

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}


.wrapper {
	display: flex;
	width: 100%;
}

/* Sidebar menu */
#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: rgb(51, 55, 60);
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: rgb(51, 55, 60);
}

#sidebar ul li a{
	height: 60px;
	line-height: 60px;
	font-size: 1.1em;
	display: block;
	color: rgb(133, 135, 139);
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	padding-left: 20px;
}

#sidebar ul li a:hover {
	color: white;
	background: rgb(190, 91, 87);
}

#sidebar ul li.active>a {
	color: white;
	background: rgb(190, 91, 87);
}

/* Bouton affichage sidebar */
#sidebarCollapse {
	width: 40px;
	height: 40px;
	background: #f5f5f5;
	cursor: pointer;
}

#sidebarCollapse span {
	width: 80%;
	height: 2px;
	margin: 0 auto;
	display: block;
	background: #555;
	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	transition-delay: 0.1s;
}

#sidebarCollapse span:first-of-type {
	transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
	opacity: 0;
}
#sidebarCollapse span:last-of-type {
	transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
	transform: none;
	opacity: 1;
	margin: 5px auto;
}


/* Style dropdown menu */
.dropdown-item:focus {
    background: rgb(248,249,250);
    color: black;
}


/* Formulaires */
form {
    margin-top: 50px;
}


/* Responsive */
@media screen and (max-width: 980px) {
	#form-login {
		width: 70%;
	}
}


/* Parcours */

.parcours h3{
	text-align: center;
}
.parcours {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.parcours-content {
	background: white;
	padding: 25px;
	flex-grow: 1;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.parcours-content h2 {
	text-align: center;
}

.parcours + h2 {
	margin-top: 35px;
}

.actions .btn {
	display: block;
	margin-left: 15px;
	margin-bottom: 15px;
}

.actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn-admin {
	display: block;
	padding: 15px 25px;
	margin: 35px 0;
	border: none;
	color: white;
	text-transform: uppercase;
	text-decoration: none!important;
	cursor: pointer;
	font-weight: bolder;
	text-align: center;
	background: rgb(190, 91, 87);
	transition: background 0.6s;
}

.btn-admin:hover {
	background: rgb(188, 114, 111);
	color: white;
}




@media screen and (max-width: 968px) {

	.parcours {
		flex-wrap: wrap;
	}

	.actions {
		flex-direction: row;
	}

	.actions .btn {
		margin-top: 15px;
	}
}

@media screen and (max-width: 768px) {

	/* Formulaire */
	#form-login {
		width: 100%;
	}

	/* Sidebar */
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}

	/* Bouton d'affichage sidebar */
	#sidebarCollapse span:first-of-type,
	#sidebarCollapse span:nth-of-type(2),
	#sidebarCollapse span:last-of-type {
		transform: none;
		opacity: 1;
		margin: 5px auto;
	}
	#sidebarCollapse.active span {
		margin: 0 auto;
	}
	#sidebarCollapse.active span:first-of-type {
		transform: rotate(45deg) translate(2px, 2px);
	}
	#sidebarCollapse.active span:nth-of-type(2) {
		opacity: 0;
	}
	#sidebarCollapse.active span:last-of-type {
		transform: rotate(-45deg) translate(1px, -1px);
	}

	main {
		width: 100%;
        padding: 0;
	}
	main.active {
		width: calc(100% - 250px);
	}

}

